/**
------ LAYOUT -------
**/

// z-index

z-layers = {
  '.component-footer': 2000,
  '.section-preloader': 1000,
  '.section-about': 100,
  '.section-project .element-navigation': 40,
  '.section-project .element-titles': 30,
  '.section-project .element-details': 20,
  '.section-project .element-sketches': 10
}

z-index(elem)
  z-index z-layers[elem]
  
/**
------ FONTS -------
**/

$font-link = 'Work Sans', sans-serif;
$font-content = 'Playfair Display', serif;

/**
------ COLORS -------
**/

$color-background = #0d19a3
$color-content = #fff
$color-link = #1effbc