/**
------ LAYOUT -------
**/

// z-index

z-layers = {
  '.component-footer': 2000,
  '.section-preloader': 1000,
  '.section-about': 100,
  '.section-project .element-details': 40,
  '.section-project .element-navigation': 30,
  '.section-project .element-titles': 20,
  '.section-project .element-sketches': 10
}

z-index(elem)
  z-index z-layers[elem]
  

/**
------ COLORS -------
**